ORACLE_IMAGE_TAG=23.26.1.0
ORACLE_CONTAINER_NAME=oracle26ai
ORACLE_PORT=1521
ORACLE_PWD=ChangeMe26Ai123
ORACLE_CHARACTERSET=AL32UTF8
ENABLE_ARCHIVELOG=true
ENABLE_FORCE_LOGGING=true

APP_USER=AI_QA_APP
APP_USER_PASSWORD=ChangeMeApp123
